@import url('https://fonts.googleapis.com/css?family=Audiowide');

@media print {
  #info {
    display: none !important;
  }
  #wrapper {
    padding: 0px;
  }
  .ui-resizable-handle {
    display: none !important;
  }
}

#player {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  z-index: 0;
  margin: auto;
  filter: sepia(130%);
  opacity: 0.3;
  transform: rotate(-5deg) perspective(200px) rotateX(8deg) translateY(-50px);
}

.gd-default .peak-3 .section {
  transform: scale(1.25);
}

.gd-default .peak-4 .section {
  padding: 40px;
}

.gd-default .peak-8 .inner {
  box-shadow: inset 0 0 50px black,
  inset 0 0 100px black,
  inset 0 0 200px black,
  inset 0 0 300px black,
  inset 0 0 500px black;
}

@page { size:8.5in 11in; margin: 0.25cm }

html, body, #wrapper, .container {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  line-height: 120%;
  font-family: 'Audiowide', cursive;
}

.eq {
  position: fixed;
  pointer-events: none;
  margin: auto;
  height: 100%;
  width: 100%;
  background: none;
  mix-blend-mode: soft-light;
}

.eq .band {
  transition: none;
  position: absolute;
  background: black;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  margin-right: 0.35em;
}

html, body, #wrapper, .container {
  overflow: hidden;
}

.inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 60%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  box-shadow: inset 0 0 400px black, inset 0 0 200px black, inset 0 0 50px black;
  background-blend-mode: color-burn;
  overflow: hidden;
}

/* Sections */
.section {
  position: absolute;
  max-width: 960px;
  min-width: 600px;
  max-height: 600px;
  min-height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 140%;
  margin: auto;
  width: 50%;
  height: 30%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.1) 45%,rgba(255,255,255,0) 78%,rgba(255,255,255,0) 100%);
  border: none;
  box-shadow: inset 0 4px rgba(0,0,0,0.75);
  mix-blend-mode: luminosity;
}

.section .content {
  display: block;
  position: relative;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
  opacity: 1;
  padding-top: 6px;
}

.gd-default .content a {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px white,2px 2px 4px black;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 8px;
}

.gd-default .content a:hover {
  background-color: white;
}

.section a.handle {
  pointer-events: none;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.gd-default .section a.handle {
  text-shadow: 0 0 2px black, 3px 3px 2px black;
  color: white;
}

.section ul {
  padding: 20px 0px;
  list-style: none;
}

.section p {
  margin-bottom: 0.5em;
}

span#gd-track-artwork_url {
  display: block;
  float: left;
  padding-right: 10px;
}

/* Slide related styles and animations */

.section {
  opacity: 0;
}

.section.old,
.section.old.lo {
  opacity: 0;
  animation: out 0.5s ease-in-out;
}

.section.old.hi {
  animation: in-reverse 0.5s ease;
}

.section.current,
.section.current.hi {
  opacity: 1;
  z-index: 1;
  animation: in 0.5s ease;
}

.section.current.lo {
  animation: out-reverse 0.5s ease-in-out;
}

/* ANIMATIONS */

@keyframes in {
  0% { right: 100%; opacity: 0; }
  100% { right: 0%; opacity: 1; }
}

@keyframes out {
  0% { right: 0%; opacity: 1; }
  100% { right: -100%; opacity: 0; }
}

@keyframes in-reverse {
  100% { right: 100%; opacity: 0; }
  0% { right: 0%; opacity: 1; }
}

@keyframes out-reverse {
  100% { right: 0%; opacity: 1; }
  0% { right: -100%; opacity: 0; }
}

/* ------------------------------------------------------------------------ */

/* Info panel */

.info .toc a.current {
  color: gray;
  pointer-events: none;
}

.info .toc a.current::before {
  content: "> ";
}

#custom .info a:hover {
  color: #fff;
}

/* Keypress styling */
.info kbd {
  color: #000;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    /* border: solid whiteSmoke 4px; */
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}